/__pycache__/*
/separation/src/__pycache__/*
/separation/results/*
meta/data
meta/data/mix_2_spk_filenames_cv.csv
meta/data/mix_2_spk_filenames_tr.csv
meta/data/mix_2_spk_filenames_tt.csv
meta/data/reverb_params_cv.csv
meta/data/reverb_params_tr.csv
meta/data/reverb_params_tt.csv
meta/__pycache__
meta/__pycache__/create_whamr_rirs.cpython-38.pyc
meta/__pycache__/wham_room.cpython-38.pyc
separation/__pycache__
separation/__pycache__/dynamic_mixing.cpython-38.pyc


